<div class="h-full bg-white shadow-xl rounded-md">
  <table class="w-full">
    <thead class="text-left text-gray-400">
      <tr class="text-xs font-poppins">
        <th class="p-5 px-5 font-normal">Código</th>
        <th class="font-normal">Nombre</th>
        <th class="font-normal">UM</th>
        <th class="font-normal">Cantidad</th>
        <th class="font-normal">Precio</th>
        <th class="font-normal">Total</th>
        <th class="font-normal">Acciones</th>
      </tr>
    </thead>
    <tbody class="text-left text-sm font-poppins">
      <tr>
        <td class="p-3 px-5">GLG199</td>
        <td>GRABADORA LG</td>
        <td>UNIDAD (BIENES)</td>
        <td>2</td>
        <td>S/ 98.00</td>
        <td>S/ 196.00</td>
        <td class="flex gap-1 p-3 px-0">
          <div
            class="rounded-full bg-verdeBG w-8 h-8 flex justify-center items-center cursor-pointer select-none"
          >
            <img
              class="block pointer-events-none"
              src="assets/magnifying-glass-green.svg"
              alt="Magnifying glass"
              width="14"
            />
          </div>
          <div
            class="rounded-full bg-rojoBG w-8 h-8 flex justify-center items-center cursor-pointer select-none"
          >
            <img
              class="block pointer-events-none"
              src="assets/magnifying-glass-red.svg"
              alt="Magnifying glass"
              width="14"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
