<div class="flex rounded-md">
  <div class="flex w-1/2 gap-2 mr-4">
    <button
      class="flex justify-center items-center gap-1 bg-rosa text-white font-poppins text-sm py-8 w-full rounded-full shadow-md shadow-gray-500"
    >
      <img
        class="inline-block pointer-events-none select-none"
        src="assets/magnifying-glass-white.svg"
        alt="Magnifying glass"
        width="15"
      />
      Volver
    </button>
    <button
      class="flex justify-center items-center gap-1 bg-white font-poppins text-sm py-8 w-full rounded-full shadow-gray-400 shadow-md"
    >
      <img
        class="inline-block pointer-events-none select-none"
        src="assets/magnifying-glass-black.svg"
        alt="Magnifying glass"
        width="15"
      />
      Limpiar
    </button>
    <button
      class="flex justify-center items-center gap-1 bg-azul text-white font-poppins text-sm py-8 w-full rounded-full shadow-gray-500 shadow-md"
    >
      <img
        class="inline-block pointer-events-none select-none"
        src="assets/magnifying-glass-white.svg"
        alt="Magnifying glass"
        width="15"
      />
      Guardar
    </button>
  </div>
  <div class="flex flex-col w-1/2">
    <div class="flex justify-evenly text-sm font-poppins px-4 gap-4">
      <div
        class="flex flex-grow bg-white justify-between p-2 drop-shadow rounded-t-md"
      >
        <div>Subtotal</div>
        <div>S/ 166.10</div>
      </div>
      <div
        class="flex flex-grow bg-white justify-between p-2 drop-shadow rounded-t-md"
      >
        <div>IGV</div>
        <div>S/ 29.90</div>
      </div>
      <div
        class="flex flex-grow bg-white justify-between p-2 drop-shadow rounded-t-md"
      >
        <div>Total</div>
        <div>S/196.00</div>
      </div>
    </div>
    <div
      class="font-poppins flex justify-center items-center h-full bg-white rounded-md drop-shadow gap-2 text-sm hover:cursor-pointer"
    >
      <span class="text-green-700 font-medium text-xl">+</span> Asignar Guía de
      Remisión
    </div>
  </div>
</div>
