<div class="w-full h-44 shadow-xl flex flex-col">
  <div class="bg-azul h-16 rounded-t-lg flex justify-between p-4 gap-10">
    <div class="self-center font-normal text-base text-white font-poppins">
      Productos
    </div>
    <div class="self-center flex flex-grow">
      <div class="text-gray-500 self-center py-2 bg-white px-4 rounded-l-full">
        <img
          class="block pointer-events-none select-none"
          src="assets/magnifying-glass-black.svg"
          alt="Magnifying glass"
          width="14"
        />
      </div>
      <div class="w-full">
        <input
          class="h-full w-full focus:outline-none rounded-r-full"
          type="text"
        />
      </div>
    </div>
    <div class="self-center flex gap-2">
      <div
        class="rounded-full bg-rosa w-8 h-8 flex justify-center items-center shadow-md shadow-gray-700 cursor-pointer select-none"
      >
        <img
          class="block pointer-events-none"
          src="assets/magnifying-glass-white.svg"
          alt="Magnifying glass"
          width="16"
        />
      </div>
      <div
        class="rounded-full bg-rosa w-8 h-8 flex justify-center items-center shadow-md shadow-gray-700 cursor-pointer select-none"
      >
        <img
          class="block pointer-events-none"
          src="assets/magnifying-glass-white.svg"
          alt="Magnifying glass"
          width="16"
        />
      </div>
      <div
        class="rounded-full bg-rosa w-8 h-8 flex justify-center items-center shadow-md shadow-gray-700 cursor-pointer select-none"
      >
        <img
          class="block pointer-events-none"
          src="assets/magnifying-glass-white.svg"
          alt="Magnifying glass"
          width="16"
        />
      </div>
    </div>
  </div>
  <div
    class="bg-white flex-1 rounded-b-lg flex p-4 justify-center items-center gap-4"
  >
    <select
      class="container border-2 p-2 border-gray-200 rounded-md text-gray-400 text-sm font-poppins h-14 -mb-2"
    >
      <option value="presentacion" hidden>Presentación</option>
    </select>
    <fieldset
      class="container border-2 border-gray-200 text-gray-400 text-xs font-poppins rounded-md p-2 h-16"
    >
      <legend class="ml-2">Precio ∗</legend>
      <input class="text-black text-base" type="text" value="S/0" />
    </fieldset>
    <input
      class="container text-sm font-poppins text-gray-400 border-2 border-gray-200 h-14 -mb-2 rounded-md p-2"
      type="text"
      value="Cantidad ∗"
    />
    <input
      class="container text-sm font-poppins text-gray-400 border-2 border-gray-200 h-14 -mb-2 rounded-md p-2"
      type="text"
      value="Stock"
    />
    <button
      class="container bg-morado p-2 px-4 text-white font-semibold w-fit whitespace-nowrap rounded-full shadow-md shadow-gray-400"
    >
      + Agregar
    </button>
  </div>
</div>
